* {
  box-sizing: border-box;
}

.App {}

.sticky-index {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 5rem;
  width: 50rem;
  min-height: 25rem;
}

.sticky {
  background: linear-gradient(0deg, #ecf282, #fbff8c);
  width: 12.5rem;
  height: 12.5rem;
  margin: 0.625rem;
  display: flex;
  flex-direction: column;
}

.sticky-title {
  margin: 0.625rem;
  width: 11.25rem;
  height: 1.25rem;
  font-size: 1rem;
  line-height: 1.125rem;
  border: 0.0625rem solid rgba(0, 0, 0, 0);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.sticky-title:hover {
  border: 0.0625rem solid #d5d5d5;
}

.sticky-content {
  margin: 0 0.625rem 0.625rem 0.625rem;
  width: 11.25rem;
  height: 9.375rem;
  font-size: 0.875rem;
  line-height: 1.125rem;
  border: 0.0625rem solid rgba(0, 0, 0, 0);
  overflow-wrap: break-word;
}

.sticky-content:hover {
  border: 0.0625rem solid #d5d5d5;
}

.selected {
  border: 0.0625rem solid #bbb;
}

.selected:hover {
  border: 0.0625rem solid #999;
}

.sticky-input {
  width: 100%;
  padding: 0;
  font-family: sans-serif;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0)
}

.sticky-title-input {
  font-size: 1rem;
}

.sticky-content-input {
  font-size: 0.875rem;
  line-height: 1.125rem;
  height: 9.25rem;
}
