* {
  box-sizing: border-box;
}

.App {}

.sticky-index {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  border: 1px solid red;
  width: 800px;
  min-height: 400px;
}

.sticky {
  border: 1px solid blue;
  width: 200px;
  height: 200px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.sticky-title {
  margin: 10px;
  border: 1px solid black;
  width: 180px;
  height: 30px;
}

.sticky-content {
  margin: 0 10px 10px 10px;
  width: 180px;
  height: 150px;
}

.sticky-input {
  height: 100%;
  width: 100%;
  border: 1px solid red;
  padding: 0;
}

.sticky-title-input {}

.sticky-content-input {}
